<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews Panel</title>
</head>
<body>
    <h1>Reviews List</h1>

    {% for review in reviews %}
    <hr>
        <p>Book : {{review.book.title}}</p>
        <p> Reviewer Name : {{review.user}}</p>
        <p>Rating : {{review.rating}}</p>
        <p>Comments : {{review.comment}}</p>
        <p>Created : {{review.created_at}}</p>
        <p>Updated : {{review.updated_at}}</p>
    {% endfor %}





</body>
</html>